.company-logos__container {
  width: 1200px;
  height: 64px;
  margin: 120px auto 140px auto;
  background-color: #ffffff;
  border-radius: 12px;
}
.company-logos__header{
  font-size: 41px;
  color: black;
   align-items: center;
   text-align: center;
   padding: 20px;
   margin-top: -65px;
   font-weight: 500;
}
.company-logos__inner {
  width: 1040px;
  height: 64px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
}

/* Style for the tech icons */
.company-logos__inner svg {
  width: 60px;
  height: 60px;
  color: #4865a1;
}
